/* Colors 
#AD343E - Cardinal
#474747 - Davys Grey
#F2AF29 - Honey Yellow
#000 - Black
#E0E0CE - Eggshell */

/* BOX MODEL FIX */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* CSS RESET */

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 

/* Global Styles */

body {
    color: #f2af29;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Mono', monospace;
    font-size: 15px;
    line-height: 1.5;
    background-color: #474747;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    border: 3px solid black;
    border-radius: 3px;
}

ul li {
    list-style-type: none;
}
/* header area styles */

#header {
    text-align: center;
    font-size: 3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px white;
    background-color: #f2af29;
    color: black;
    padding-bottom: 35px;
    -webkit-transition: background 2s; /* For Safari 3.0 to 6.0 */
    transition: background 2s; /* For modern browsers */
}
    
#header:hover {
    background: #ad343e;
}

/* grid styles */

.grid-wrapper {
    display: grid;
    width: 100%;
    grid-template-areas:
    "project1 project2 project3";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    max-width: 90%;
    min-width: 50%;
    margin: 0 auto;
}

.grid-wrapper a {
    text-decoration: none;
    color: #ad343e;
    border: 3px solid black;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
}

.grid-wrapper a:hover {
    background-color: blue;
    color: white;
}

.projects-grid-1 {
    grid-area: project1;
}

.projects-grid-2 {
    grid-area: project2;
    margin: auto;
}

.projects-grid-3 {
    grid-area: project3;
}

.header-1 {
    text-align: left;
    padding-top: 200px;
    padding-bottom: 10px;
    font-size: 2em;
    text-shadow: 1px 1px black;
}

.header-2 {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 10px;
    font-size: 2em;
    text-shadow: 1px 1px black;
}

.header-3 {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 10px;
    font-size: 2em;
    text-shadow: 1px 1px black;
}

.project-desc-1 {
    padding-top: 10px;
   font-size: 1.25em;
}
.project-desc-2 {
    padding-top: 10px;
    font-size: 1.25em;
}

.project-desc-3 {
    padding-top: 10px;
    font-size: 1.25em;
}

/* non-grid item styling */

.head {
    font-size: 2.5em;
    text-align: center;
    padding-top: 100px;
    text-shadow: 1px 1px black;
    border-bottom: 2px solid black;
    width: 50%;
}

footer {
    text-align: center;
    font-size: 1em;
    padding-top: 200px;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

footer a:hover {
    color: blue;
}
/* Start of media query(s) */

@media screen and (max-width: 945px) {
    
    #navbar {
        display: none;
    }

    #mobile-nav {
        display: block;
        text-align: center;
        background-color: black;
    }

    #mobile-nav a {
        color: #AD343E;
    }

    #mobile-nav li a {
        list-style-type: none;
        cursor: pointer;
        padding: 7px 5px 7px 5px;
        border-bottom: 2px solid white;
        width: 100%;
    }

    #mobile-nav a:hover {
        background-color: white;
        color: blue;
        border-radius: 4px;
    }
}

@media screen and (min-width: 946px) {

    #mobile-nav {
        display: none;
    }
    nav {
        background-color: #000;
    }
    
    nav ul {
        list-style-type: none;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    nav ul li {
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding: 15px 30px;
        font-weight: bold;
        font-size: 17px;
    }
    
    nav ul li a {
        color: #AD343E;
    }
    
    nav ul li ul {
        padding: 0;
        position: absolute;
        top: 55px;
        left: -10000px;
        width: 150px;
    }
    
    nav ul li ul li {
        background-color: #000;
        display: block;
    }
    
    nav ul li ul li:hover {
        border-radius: 4px;
    }
    
    nav ul li:hover ul {
        display: block;
        left: 0px;
    }
    
    nav ul li a:hover {
        background-color: white;
        color: blue;
        border-radius: 4px;
    }
    
    #navbar {
        width: 100%;
    }
}

@media screen and (max-width: 1337px) {

    .grid-wrapper {
       display: grid;
       width: 100%;
       grid-template-areas:
       "project1"
       "project2"
       "project3";
       grid-template-rows: 1fr 1fr 1fr;
       grid-template-columns: 1fr;
       grid-gap: 0px;
       max-width: 90%;
       min-width: 50%;
       margin: 0 auto;
    }

    .grid-wrapper img {
        width: 80%;
        margin: 0 auto;
        display:block;
    }

    .grid-wrapper section {
        text-align: center;
    }
}