/* Colors 
#AD343E - Cardinal
#474747 - Davys Grey
#F2AF29 - Honey Yellow
#000 - Black
#E0E0CE - Eggshell */


/* CSS RESET 
* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

/* Global Styles 
-------------------------------- */

body {
    color: #000;
}

img {
    width: 300px;
}

a {
    color: #AD343E;
    text-decoration: none;
}

/* Profile 
-------------------------------- */

header {
    background-color: #F2AF29;
}

/* Projects 
-------------------------------- */

.projects {
    background-color: #E0E0CE;
}

.projects a:hover {
    color: blue;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
}

/* Work Experience
-------------------------------- */

.work-exp {
    background-color: #E0E0CE;
}

/* Education 
-------------------------------- */



/* Contact Info 
-------------------------------- */

footer {
    background-color: #474747;
    color: white;
    text-align: center;
}

footer a {
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px;
}

footer a:hover {
    color: white;
}

footer ul li {
    list-style-type: none;
    padding: 10px;
}